.form {
  width: 469px;
  height: 387px;
  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
  border: 1px solid;
  border-radius: 10px;
  margin: 0 auto;
}

input[type=submit] {
  padding: 5px 15px;
  background: #ccc;
  border: 0 none;
  cursor: pointer;
  border-radius: 5px;
  width: 109px;
  margin: 0 auto; 
}