form {
  height: 42px;
}

input {
  height: 6.2%;
  width: 0;
  padding: 0 28px 0 15px;
  border: 2px solid #000;
  border-radius: 25px;
  outline: none;
  background: transparent;
  transition: 0.4s cubic-bezier(0, 0.8, 0, 1);
  position: absolute;
  top: 15px;
  right: 15px;
  z-index: 2;
}

input:focus {
  width: 300px;
  z-index: 1;
}

.search-btn {
  background: #683b4d;
  border: none;
  border-radius: 25px;
  height: 6.8%;
  width: 45px;
  position: absolute;
  top: 15px;
  right: 15px;
  cursor: pointer;
}

.search-btn:before {
  content: "\f002";
  font-family: FontAwesome;
  font-size: 16px;
  color: #f9f0da;
}