body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul,
ol {
  list-style: none;
}

body {
	margin: 0;
	background-repeat: no-repeat;
	background-position: center 180px;
	overflow-x: hidden;
	font-family: Roboto;
}

main {
	display: flex;
	flex-wrap: wrap;
}